@use "~/base";

.root {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
    column-gap: 0.5rem;
    &.hideRoot {
        opacity: 0;
    }
}

.stickyRoot {
    position: sticky;
    bottom: 0;
    z-index: 100;
    background: base.$background;
    box-shadow: 0px 0px 5px 0px base.$mainTextColor;
}

.selectorButtonStyle {
    padding: 0.2rem;
    min-width: 3rem;
    border: none;
    outline: none;
    cursor: pointer;
    @include base.button;
    background: base.$paper1;
    color: base.$mainTextColor;
    box-shadow: inset 0px 0px 0px 1px base.$tertiaryTextColor;
    border-radius: 5px;
    &.selectedButtonStyle {
        background: base.$primaryButtonColorDisabled;
        color: base.$primaryButtonColor;
        box-shadow: inset 0px 0px 0px 1px base.$primaryButtonColor;
    }

    &:disabled {
        background: base.$paper1;
        box-shadow: unset;
    }
}
