@use "~/base";

.textFieldRoot {
    .labelStyle {
        @include base.body2;
        font-weight: base.$fontWeightRegular;
        margin-bottom: 0.2rem;
    }

    .inputComponentContainer {
        position: relative;
    }

    .inputStyle {
        padding: 0.5rem 1rem;
        background: base.$paper;
        border: 1px solid base.$borderColor;
        border-radius: 0.25rem;
        outline: none;
        @include base.body1;
        color: base.$mainTextColor;
        &::placeholder {
            color: base.$tertiaryTextColor;
        }
        &.fullWidthStyle {
            width: 100%;
            box-sizing: border-box;
        }
    }

    .errorMessageStyle {
        color: base.$errorColor;
        @include base.caption;
        font-weight: base.$fontWeightRegular;
        padding-top: 0.3rem;
    }
}
