// dark
// $background: #131319;

// $paper: #27292d;
// $paper1: #191920;

// $mainTextColor: #ffffff;
// $secondaryTextColor: #6b6c70;
// $tertiaryTextColor: #7f8084;
// $posterNameColor: #c5c7ca;
// $linkColor: #c6c7c9;

// $primaryButtonColor: #4a96ff;
// $primaryButtonColorDisabled: #b3d1ff;
// $mainTextColorDisabled: #ffffff;

//light
// Backgrounds
$background: #f5f5f5;
$paper: #ffffff;
$paper1: #f0f0f0;

// Text Colors
$mainTextColor: #000000;
$secondaryTextColor: #4f4f4f;
$tertiaryTextColor: #5a5a5a;
$posterNameColor: #333333;
$linkColor: #0000ee;
$errorColor: #ed4337;

//border-color
$borderColor: #939393;
$borderColorLight: rgb(232, 234, 238);

// Button Colors
$primaryButtonColor: #0056b3;
$primaryButtonColorDisabled: #cce0ff;
$primaryButtonTextColor: #ffffff;
$mainTextColorDisabled: #aaaaaa;

$fontWeightLight: 300;
$fontWeightRegular: 400;
$fontWeightMedium: 500;
$fontWeightSemiBold: 600;
$fontWeightBold: 700;
$fontWeightExtraBold: 800;

@mixin h1 {
    font-size: clamp(2.5rem, 1.125rem + 3.5vw, 3.5em);
    font-weight: 600;
    line-height: 1.1142857142857143;
    letter-spacing: -0.2;
}

@mixin h2 {
    font-size: clamp(1.5rem, 0.9643rem + 1.4286vw, 2.25rem);
    font-weight: 600;
    line-height: 1.2222222222222223;
    letter-spacing: -0.2;
}

@mixin h3 {
    font-size: 2.25rem;
    font-weight: 400;
    line-height: 1.2222222222222223;
    letter-spacing: 0.2;
}

@mixin h4 {
    font-size: 1.875rem;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.2;
}

@mixin h5 {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.1;
}

@mixin h6 {
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.5;
}

@mixin button {
    font-size: 0.875rem;
    font-weight: 700;
    text-transform: initial;
    letter-spacing: 0;
    line-height: 1.75;
}

@mixin subtitle1 {
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.3333333333333333;
    letter-spacing: 0;
}

@mixin subtitle2 {
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.57;
}

@mixin body1 {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0;
}

@mixin body2 {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0;
}

@mixin caption {
    font-size: 0.75rem;
    font-weight: 700;
    line-height: 0.75rem;
    letter-spacing: 0;
}

@mixin overline {
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 2.66;
    text-transform: uppercase;
}

@mixin inherit {
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
    line-height: inherit;
    letter-spacing: inherit;
}
