.root {
}

.cardListContainer {
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.errorContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 2rem;
    padding: 2rem;
}
